
.header-row{
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  flex: 0 0 60%;
}
.input-container {
  flex: 0 0 70%;
  display: flex;
  justify-content: center;
}

.buttons-container {
  display: flex;
  flex: 0 0 30%;
  justify-content: flex-start;
  align-items: center;
}

.url-input {
  margin: 0 auto;
  width: 90%;
}

.header-btn {
  margin-right: 10px;
}
