.logout-panel {
  display: flex;
  justify-content: flex-end;
  margin: 3px 10px;
}


.header-row{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.input-container {
  flex: 0 0 77%;
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  flex: 0 0 20%;
  justify-content: flex-start;
  align-items: center;
}

.url-input {
  margin: 0 auto;
  width: 66%;
}

.project-select {
  margin: 0 auto;
  width: 30%;
}

.header-btn {
  margin-right: 10px;
}
