/node_modules
/env
/.idea
*.sqlite3

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
