<div class="container">
  <div class="card">
    <div class="card-header" id="ignoredKeywordsHeading">
      <h5>
        Select Ignored Keywords
      </h5>
      <button class="btn" data-toggle="collapse" data-target="#collapseIgnoredKeywords" aria-expanded="true"
              aria-controls="collapseIgnoredKeywords">
        <i class="icon-plus-circled"></i>
      </button>
    </div>

    <div id="collapseIgnoredKeywords" class="collapse show" aria-labelledby="ignoredKeywordsHeading">
      <div class="main-container">

        <div class="filter-container">
          <mat-form-field>
            <mat-label>Panel color</mat-label>
            <mat-select panelClass="select-panel">
              <mat-option *ngFor="let country of countries" [value]="country.value">{{country.label}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Panel color</mat-label>
            <mat-select panelClass="select-panel">
              <mat-option *ngFor="let device of devices" [value]="device.value">{{device.label}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="date-picker">
            <mat-form-field>
              <input matInput (keydown)="$event.preventDefault();" [matDatepicker]="picker" (focus)="picker.open()" placeholder="From">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker [disabled]="false"></mat-datepicker>
            </mat-form-field>

          </div>

          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>

        <div class="table-container">
          <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="keyword">
              <th mat-header-cell [ngClass]="'main-column'" *matHeaderCellDef mat-sort-header>Keyword</th>
              <td mat-cell *matCellDef="let element">{{element.keyword}}</td>
            </ng-container>

            <ng-container matColumnDef="inKeyword">
              <th mat-header-cell [ngClass]="'small-column'" *matHeaderCellDef mat-sort-header>Position</th>
              <td mat-cell *matCellDef="let element">
                <mat-slide-toggle [checked]="element.isTarget"
                                  (change)="onTargetToggle(element)"></mat-slide-toggle>
              </td>
            </ng-container>

            <ng-container matColumnDef="inIgnored">
              <th mat-header-cell [ngClass]="'small-column'" *matHeaderCellDef mat-sort-header>Position</th>
              <td mat-cell *matCellDef="let element">
                <mat-slide-toggle [checked]="element.isIgnored"
                                  (change)="onIgnoreToggle(element)"></mat-slide-toggle>
              </td>
            </ng-container>

            <ng-container matColumnDef="position">
              <th mat-header-cell [ngClass]="'small-column'" *matHeaderCellDef mat-sort-header>Position</th>
              <td mat-cell *matCellDef="let element">{{element.position}}</td>
            </ng-container>

            <ng-container matColumnDef="clicks">
              <th mat-header-cell [ngClass]="'small-column'" *matHeaderCellDef mat-sort-header>Clicks</th>
              <td mat-cell *matCellDef="let element">{{element.clicks}}</td>
            </ng-container>

            <ng-container matColumnDef="impressions">
              <th mat-header-cell [ngClass]="'small-column'" *matHeaderCellDef mat-sort-header>Position</th>
              <td mat-cell *matCellDef="let element">{{element.impressions}}</td>
            </ng-container>

            <ng-container matColumnDef="inText">
              <th mat-header-cell [ngClass]="'small-column'" *matHeaderCellDef mat-sort-header>Position</th>
              <td mat-cell *matCellDef="let element">{{element.inText}}</td>
            </ng-container>

            <ng-container matColumnDef="where">
              <th mat-header-cell [ngClass]="'medium-column'" *matHeaderCellDef mat-sort-header>Position</th>
              <td mat-cell *matCellDef="let element">{{element.where}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
