.main-column {
  width: 30%;
}

.small-column {
  width: 9%;
}

.medium-column {
  width: 16%;
}

.table-container {
  width: 100%;
  height: 50vh;
  overflow: auto;
}

.main-container {
  margin: 10px 20px;
}
