<div class="container">
  <div class="card">
    <div class="card-header" id="contentAnalyzerHeading">
      <h5>
        Content Analyzer
      </h5>
      <button class="btn" data-toggle="collapse" data-target="#collapseContentAnalyzer" aria-expanded="true"
              aria-controls="collapseContentAnalyzer">
        <i class="icon-plus-circled"></i>
      </button>
    </div>

    <div id="collapseContentAnalyzer" class="collapse show" aria-labelledby="contentAnalyzerHeading">
      <div class="main-container">

        <div class="request-filter-container">
          <div class="fetch-data-part">
            <mat-form-field class="divider-select">
              <mat-label>Divider</mat-label>
              <mat-select [(value)]="selectedDivider" [disableOptionCentering]="true">
                <mat-option *ngFor="let divider of dividers" [value]="divider">{{divider}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button [disabled]="!isAnalyzerFetchEnabled || !selectedDivider" color="primary"
                    class="fetch-button" (click)="fetchAnalyzedData()">Fetch
            </button>
            <span class="words-count">Words count: {{wordsCount}}</span>
          </div>
          <div class="export-container">
            <button mat-raised-button color="primary" class="button"
                    [disabled]="!isGapiInited || keywordsData.length == 0" (click)="exportData()">Export
            </button>
            <button mat-raised-button color="primary" class="button" [disabled]="!isGapiSignedIn"
                    (click)="handleSignoutClick()">Google Logout
            </button>
          </div>
        </div>

        <div class="tables-container">
          <div class="separate-table" *ngFor="let ordinal of dividerArray">
            <app-analysis-table
              [keywordsData]="analyzedData[ordinal] ? analyzedData[ordinal] : []"></app-analysis-table>
          </div>
        </div>
        <div class="tables-container">

          <table class="table" mat-table [dataSource]="competDataSource" matSort>

            <ng-container matColumnDef="keyword">
              <th mat-header-cell style="width: 50%;" *matHeaderCellDef mat-sort-header>Keyword</th>
              <td mat-cell *matCellDef="let element">{{element.keyword}}</td>
            </ng-container>

            <ng-container matColumnDef="inTargetCount">
              <th mat-header-cell style="width: 10%;" *matHeaderCellDef mat-sort-header>InTarget</th>
              <td mat-cell *matCellDef="let element">{{element.inTargetCount}}</td>
            </ng-container>

            <ng-container matColumnDef="inTextCount">
              <th mat-header-cell style="width: 10%;" *matHeaderCellDef mat-sort-header>InText</th>
              <td mat-cell *matCellDef="let element">{{element.inTextCount}}</td>
            </ng-container>

            <ng-container matColumnDef="percent">
              <th mat-header-cell style="width: 10%;" *matHeaderCellDef mat-sort-header>%</th>
              <td mat-cell *matCellDef="let element">{{element.percent | number: '1.0-1'}}</td>
            </ng-container>

            <ng-container matColumnDef="where">
              <th mat-header-cell style="width: 20%;" *matHeaderCellDef mat-sort-header>Where</th>
              <td mat-cell *matCellDef="let element">{{element.where}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
