@charset "utf8";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'fontello';
  src: url('./assets/fontello.eot?46660215');
  src: url('./assets/fontello.eot?46660215#iefix') format('embedded-opentype'),
  url('./assets/fontello.woff2?46660215') format('woff2'),
  url('./assets/fontello.woff?46660215') format('woff'),
  url('./assets/fontello.ttf?46660215') format('truetype'),
  url('./assets/fontello.svg?46660215#fontello') format('svg');

  font-weight: normal;
  font-style: normal;
}


.container {
  margin: 20px auto;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?57279573#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-pencil:before {
  content: '\e800';
  color: #7aa0f7;
}

.icon-cancel:before {
  content: '\e801';
  color: #bf344a;
}

.icon-plus-circled:before {
  content: '\e802';
  color: #29d136;
}

.icon-left:before {
  content: '\e803';
}

.icon-right:before {
  content: '\e804';
}

/*                                           ! Google Loader Started Here ...
=======================================================================================================================*/
*,
*:after,
*:before,
html {
  box-sizing: border-box
}


.loader-container {
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  display: block;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loader-container div {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  display: block;
  position: absolute
}

.top-left {
  animation: tl 7.5s ease infinite
}

.top-right {
  animation: tr 7.5s ease infinite
}

.bottom-left {
  animation: bl 7.5s ease infinite
}

.bottom-right {
  animation: br 7.5s ease infinite
}

.loader-container div:before,
.loader-container div:after {
  content: "";
  display: block;
  position: absolute
}

.loader-container div:before {
  width: 50px;
  height: 50px
}

.top-left:before {
  background: #fbbc05;
  top: 0;
  left: 0;
  border-radius: 100% 0 0 0
}

.top-right:before {
  background: #ea4335;
  top: 0;
  right: 0;
  border-radius: 0 100% 0 0
}

.bottom-left:before {
  background: #34a853;
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 100%
}

.bottom-right:before {
  background: #4285f4;
  bottom: 0;
  right: 0;
  border-radius: 0 0 100% 0
}

.loader-container div:after {
  background: #000;
  width: 25px;
  height: 25px;
  z-index: 1
}

.top-left:after {
  top: 25px;
  left: 25px;
  border-radius: 100% 0 0 0
}

.top-right:after {
  top: 25px;
  right: 25px;
  border-radius: 0 100% 0 0
}

.bottom-left:after {
  bottom: 25px;
  left: 25px;
  border-radius: 0 0 0 100%
}

.bottom-right:after {
  bottom: 25px;
  right: 25px;
  border-radius: 0 0 100% 0
}

@keyframes tl {
  0%, 96%, 100% {
    transform: rotate(0deg)
  }
  12% {
    transform: rotate(-45deg)
  }
  24% {
    transform: rotate(-90deg)
  }
  36% {
    transform: rotate(-135deg)
  }
  48% {
    left: 50px;
    transform: rotate(-180deg)
  }
  60% {
    left: 125px;
    opacity: 1;
    transform: rotate(-135deg)
  }
  61%, 95% {
    opacity: 0
  }
}

@keyframes tr {
  0% {
    transform: rotate(0deg)
  }
  12% {
    transform: rotate(-45deg)
  }
  24% {
    transform: rotate(-90deg)
  }
  36% {
    transform: rotate(-135deg)
  }
  48% {
    transform: rotate(-180deg)
  }
  60% {
    transform: rotate(-225deg)
  }
  72% {
    transform: rotate(-270deg)
  }
  84% {
    transform: rotate(-315deg)
  }
  96%, 100% {
    transform: rotate(-360deg)
  }
}

@keyframes bl {
  0%, 100% {
    transform: rotate(0deg)
  }
  12% {
    transform: rotate(-45deg)
  }
  24% {
    left: 50px;
    transform: rotate(-90deg)
  }
  36% {
    left: 125px;
    opacity: 1;
    transform: rotate(-45deg)
  }
  37%, 83% {
    opacity: 0
  }
  84% {
    left: -25px;
    opacity: 1;
    transform: rotate(-45deg)
  }
  96% {
    left: 50px;
    transform: rotate(0deg)
  }
}

@keyframes br {
  0%, 96%, 100% {
    transform: rotate(0deg)
  }
  12% {
    left: 125px;
    opacity: 1;
    transform: rotate(45deg)
  }
  13%, 59% {
    opacity: 0
  }
  60% {
    left: -25px;
    opacity: 1;
    transform: rotate(45deg)
  }
  72% {
    left: 50px;
    transform: rotate(90deg)
  }
  84% {
    transform: rotate(45deg)
  }
}

.modal-backdrop {
  opacity: 0.3;
}

/*                                           ! Google Loader Ended Here ...
=======================================================================================================================*/
