<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th style="width: 15%">Inside Tag</th>
        <th style="width: 75%">Content</th>
        <th style="width: 10%"><button (click)="addContentUnit(i)">Add</button></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contentUnit of content; let i = index;">
        <td>
          <input type="text" [(ngModel)]="contentUnit.insideTag" [disabled]="!contentUnit.isEditable">
        </td>
        <td>
          <textarea type="text" style="width: 100%" [(ngModel)]="contentUnit.text" [disabled]="!contentUnit.isEditable"></textarea>
        </td>
        <td>
          <div>
            <button (click)="editContentUnit(i)">Edit</button>
            <button (click)="deleteContentUnit(i)">Remove</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
