<div class="container">
  <div class="card">
    <div class="card-header" id="contentHeading">
      <h5 class="mb-0">
        Manage Content to Analyze
      </h5>
      <button class="btn" data-toggle="collapse" data-target="#collapseContent" aria-expanded="true"
              aria-controls="collapseContent">
        <i class="icon-plus-circled"></i>
      </button>
    </div>

    <div id="collapseContent" class="collapse show" aria-labelledby="contentHeading">
      <div class="card-body">
        <div class="row" *ngFor="let contentUnit of content; let i = index;">
          <div class="card">
            <div class="card-header">
              <h3 *ngIf="!contentUnit.isEditable">{{ contentUnit.insideTag }}</h3>
              <input *ngIf="contentUnit.isEditable" type="text" [(ngModel)]="contentUnit.insideTag">
              <div class="edit-buttons">
                <button (click)="editContentUnit(i)"><i class="icon-pencil"></i></button>
                <button (click)="deleteContentUnit(i)"><i class="icon-cancel"></i></button>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text" *ngIf="!contentUnit.isEditable">{{ contentUnit.text }}</p>
              <textarea *ngIf="contentUnit.isEditable" type="text" style="width: 100%"
                        [(ngModel)]="contentUnit.text"></textarea>
            </div>
          </div>
        </div>
        <div class="row align-right">
          <button class="add-button" (click)="addContentUnit()"><i class="icon-plus-circled"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
