<div class="container">
  <div class="card">
    <div class="card-header" id="ignoredKeywordsHeading">
      <h5 class="mb-0">
        Select Ignored Keywords
      </h5>
      <button class="btn" data-toggle="collapse" data-target="#collapseIgnoredKeywords" aria-expanded="true"
              aria-controls="collapseIgnoredKeywords">
        <i class="icon-plus-circled"></i>
      </button>
    </div>

    <div id="collapseIgnoredKeywords" class="collapse show" aria-labelledby="ignoredKeywordsHeading">
      <div class="keywords-container">
        <app-keywords-table #targetKeywordsComponent ngClass="table-container"></app-keywords-table>
        <div class="buttons-container">
          <button class="add-button" (click)="moveToIgnored()"><i class="icon-right"></i></button>
          <button class="add-button" (click)="moveToTarget()"><i class="icon-left"></i></button>
        </div>
        <app-keywords-table #ignoredKeywordsComponent ngClass="table-container"></app-keywords-table>
      </div>
    </div>
  </div>
</div>
